*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.continer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1400px;
  height: 730px;
  background: linear-gradient(45deg,rgb(247, 214, 214) 5%,white 30%, white 70%, rgb(247, 214, 214)) 5%;
  margin-top: 11px;
  border-radius: 20px;
}
.header_asli{
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  height: 7%;
  margin-top: 20px;
}
.header_asli .header_left{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header_asli .header_left p{
  margin-left:5px ;
  color: rgb(190, 37, 37);
  font-family: sans-serif;
}
.header_asli .header_left i{
  margin-left: -30px;
  color: rgb(190, 37, 37);
}
.header_asli .header_left input{
  padding: 8px;
  margin-left: 15%;
  border: 1px solid rgb(238, 237, 237);
  border-radius: 20px;
}
.header_right{
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 100%;

}
.header_right ul{
  margin-left: 10%;
}
.header_right ul a{
  text-decoration: none;
  color: black;
  margin-left: 30px;
}
.header_right ul a:hover{
  border-bottom: 1px solid black;
}
.header_right button{
  margin-left: 12%;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgb(190, 37, 37);
  color: white;
}
.header_right button a{
  text-decoration: none;
  color: white;
}
.header_right button a:hover{
  color:rgb(190, 37, 37) ;
}
.header_right button:hover{
  transition: all 0.8s;
  background-color: white;
  border: 1px solid rgb(190, 37, 37);
}
.center{
  position:  absolute;
  width: 91.1%;
  height: 45%;
  margin-top: 10%;
  margin-right: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.center .center_left{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 67%;
  height: 100%;
}
.center .center_left h1{
  width: 400px;
  font-size: 43px;
  margin-left: -355px;
  font-family: sans-serif;
  display: inline;
}
.center .center_left p{
  position: absolute;
  display: inline;
  margin-top: 160px;
  margin-right: 355px;
  color: rgb(115, 114, 114);
  width: 400px;
}
.btn2{
  position: absolute;
  margin-top: 290px;
  margin-left: -640px;
  padding: 15px 20px;
  border: none;
  background-color: rgb(190, 37, 37);
  border-radius: 20px;
  color: white;
}
.btn2:hover{
  transition: all 0.8s;
  background-color: white;
  border: 1px solid rgb(190, 37, 37);
  color:rgb(190, 37, 37) ;
}
.btn3{
  position: absolute;
  margin-top: 290px;
  margin-left: -350px;
  padding: 15px 20px;
  border: 1px solid rgb(190, 37, 37);
  background-color: white;
  color:rgb(190, 37, 37);
  border-radius: 20px;
}
.btn3:hover{
  transition: all 0.8s;
  border: none;
  background-color: rgb(190, 37, 37);
  color: white;
}
.center .center_right{
  display: flex;
}
.center .center_right img{
  margin-top: -60px;
  margin-right:133px;
  width: 325px;
  height: 300px;
  border-radius: 50%;
}
.center .center_right button{
  position: absolute;
  padding: 17px 20px;
  margin-top: 235px;
  margin-left: -109px;
  border: none;
  border-radius: 20px;
  background-color: rgb(190, 37, 37);
  color: white;
}
.center .center_right button a{
  text-decoration: none;
  color: white;
}
.center .center_right button:hover{
  transition: all 0.8s;
  box-shadow: 0px 0px 20px red;
}
.footer{
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 20%;
  margin-top: 35%;
  margin-left: 80px;
}
.footer img{
  width: 100px;
  margin-left: 12px;
border-radius: 50%;
}
.footer img:nth-child(2){
  height: 53px;
}
.footer img:nth-child(3){
  height: 53px;
}
.footer img:nth-child(4){
  height: 53px;
}
.food{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 230px;
  margin-left: 750px;
  width: 150px;
  height: 150px;
}
.food p{
  font-size: 20px;
  font-family: sans-serif;
  opacity: 0;
  display: inline;
  padding: 10px;
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 20px green;
}